{% extends 'base.html.twig' %}
{% block title %}
	{{ parent()}}
	| Burger List
{% endblock %}
{% block body%}
	<p>Liste des burgers</p>
	<a href="{{path("app_home")}}">Retour page Home</a>

{% endblock %}
