{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	| Home
{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
	<a href="{{path("app_burger_list")}}">Voir la liste des burgers</a>
{% endblock %}
